 div.output {}

 div.output p.message {
            font-size: 20px ;
            line-height: 30px ;
            }

        div.output span.possibleCharacters {
            background-color: gold ;
            display: inline-block ;
            padding: 0px 7px 0px 7px ;
            }


/* The 17 standard colors are: aqua, black, blue, fuchsia, gray, grey, green, lime, */
/* maroon, navy, olive, purple, red, silver, teal, white and yellow. */

			/* ----------- mike  */
/*
  <span class="SPDchar">chr</span>
  <span class="SPDword">wpm</span>
  <span class="SPDspace">space</span>
*/
/*
            span.SPDchar {
            background-color: red ;
            display: inline-block ;
            padding: 0px 7px 0px 7px ;
            }
*/

           span.yellowMsg {
            background-color: yellow ;
            display: inline-block ;
            padding: 0px 7px 0px 7px ;
            }

           span.dot {
            background-color: red ;
            display: inline-block ;
            padding: 0px 7px 0px 7px ;
            }


           span.dash {
            background-color: lime ;
            display: inline-block ;
            padding: 0px 7px 0px 7px ;
            }

     /* ---------------------------  */

        div.alphabet {
            bottom: 0px ;
            position: fixed ;
            }
        div.alphabet h3 {
            margin: 0px 0px 20px 0px ;
            }
        div.alphabet ul.characters {
            margin: 0px 0px 0px 0px ;
            padding: 0px 0px 0px 0px ;
            }
        div.alphabet ul.characters li {
            border: 1px solid #CCCCCC ;
            display: inline-block ;
            padding: 10px 0px 10px 0px ;
            text-align: center ;
            width: 75px ;
            }
        div.alphabet ul.characters li span.character {
            display: block ;
            font-size: 14px ;
            line-height: 18px ;
            margin: 0px 0px 7px 0px ;
            }
        div.alphabet ul.characters li span.sequence {
            display: block ;
            font-size: 18px ;
            line-height: 18px ;
            }
    